html{font-size:100%}body{-webkit-font-smoothing:antialiased}*{box-sizing:border-box}.container{max-width:1100px}.container:after{content:" ";display:block;clear:both}.director strong{font-weight:bold;font-size:25px}.field-collection-img img{width:100%;height:100%;margin-bottom:15px}* html .clearfix{height:1%;overflow:visible}*+html .clearfix{min-height:1%}.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;font-size:0}.clr{clear:both}.main-header{height:300px;background:url(../images/c4.jpg) no-repeat center center;background-size:cover}.main-navigation{margin-top:25px;color:red;width:126.31579%}.main-navigation li{float:left}.main-navigation a{display:block;color:#008ee6;padding:0 10px}.article-list p{line-height:25px}.article-list .view-row{margin:40px 0}

/*# sourceMappingURL=style.css.map */
