{%
set classes = [
'field-collection-item',
'field-collection-item--name-' ~ field_collection_item.name|clean_class,
'field-collection-item--view-mode-' ~ field_collection_item.view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>

    <div class="content"{{ content_attributes }}>
        <div class="wrapper-md">
            <div class="panel">
                <div class="wrapper-md">
                    {{ content }}
                </div>
            </div>

        </div>

    </div>
</div>
