
{{ content.field_actor['#items'].getValue()|first.value }}

<div>
  <h2>Test Loop</h2>
  <ul>
      {% for item in content.field_actor['#items'].getValue() %}
          <li>{{ item.value }}</li>
      {% endfor %}
  </ul>

</div>
{{ kint(content.field_actor) }}
{% if content.field_show_poster['#items'].getValue()|first.value == "1" %}
<div class="movie-poster">

  {{ content.field_movie_po }}
</div>
{% else %}
<h3>you can't see movie poster</h3>
{% endif %}

<div class="director">
    {{ content.field_director }}
</div>
<br>
<br>
<div class="actors">
  {#{{ content.field_actor }}#}
</div>

<div class="movie-description">
  {{ content.body }}
</div>
<div class="premieres">
    {{ content.field_premeires }}
</div>
