
{% if label_hidden %}
    {% if multiple %}
      <div{{ attributes }}>
          {% for item in items %}
              123
            <div{{ item.attributes.addClass('m field-collection-img') }}>{{ item.content }}</div>
          {% endfor %}
      </div>
    {% else %}
        {% for item in items %}

          <div{{ attributes.addClass('m field-collection-img') }}>{{ item.content }}</div>
        {% endfor %}
    {% endif %}
{% else %}

  <div{{ attributes }}>
    <div{{ title_attributes }}><strong>{{ label }}</strong></div>
      {% if multiple %}
    <div>
        {% endif %}

        {% for item in items %}
            666
              <div{{ item.attributes.addClass('m field-collection-img') }}>{{ item.content }}</div>
        {% endfor %}

        {% if multiple %}
    </div>
      {% endif %}
  </div>

{% endif %}
