/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
}

body{
    -webkit-font-smoothing: antialiased;

}

*{
    box-sizing:border-box;
}


.container{
  @include container(1100px);
}

.director strong{
  font-weight: bold;
  font-size: 25px;
}

//自定义field collection样式

.field-collection-img{
  img{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }
}

/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}






