.main-header{
  height: 300px;
  background: url(../images/c4.jpg) no-repeat center center;
  background-size:cover;
}

.main-navigation{
  margin-top:25px;
  color: red;
  @include span(5 last);

  li{
      float: left;
  }
  a{
    display: block;
    color: #008ee6;
    padding: 0 10px;
  }
}